      @font-face {font-family: WildNature; src: url('WildNature.ttf');}
      h1 {
	font-size: 50px;
        font-family: WildNature;
      }
      #sources{
        padding-left:5%;
        a{
        font-size:10px;
        }
      }

      h5 {
        font-family: WildNature;
      }
      #infoGroup{
        padding:5%;
        color:#0C1446;
        text-align:center;
        p{
          font-size:30px;
          font-weight:normal;
        }
        h5{
          font-size:40px;
        }
      }
      .carousel-image{
        img{
          object-fit:cover;
          object-position:80% 40%;
        }
      }
      .carousel-caption{
        position:absolute;
        top:50%;
        left:50%;
        h5{
          font-size:70px;
          font-weight:normal;
        }
        p{
          font-size:30px;
          font-weight:normal;
        }
      }
      .carousel-item {
        height:400px;
        width:100%;
      }
      h3 {
        font-family: WildNature;
        color: #175873;
      }
      p {
        font-family: WildNature;
        font-size: 16px;
        font-weight: bold;
      }
      a:visited, a:link {
        color: #545944;
        font-family: WildNature;
        background-color: transparent;
        text-decoration: none;
        font-size: 25px;
      }
      a:hover, a:active {
        color: #545944;
        font-family:WildNature;
        background-color:transparent;
        font-weight: bold;
        font-size: 25px;
      }

	.navbar {
        overflow: hidden;
        background-color: #f5f5f5;
      }

      .navbar a {
        float: left;
        color: #87ACA3;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: WildNature;
      }

      .navbar a:hover {
        color: #87ACA3;
      }

      .navbar a.active {
        color:#87ACA3;
      }

	@media screen and (max-width: 500px){
        .navbar a{
          float: none;
          display: block;
        }
      }
